@using System.Collections
@model VivoMais.Models.AcaoMarketingViewModel
@{
    ViewBag.Title = "AlterarAcao";
    if (Session["TipoMenu"].ToString() != "")
    {
        Layout = Session["TipoMenu"].ToString();
    }
    else
    {
        Session.Clear();
        Session.Abandon();
        FormsAuthentication.SignOut();
        Response.Redirect("/Acesso/Index");
    }
}

@* Javascript *@
<script type="text/javascript" src="~/Scripts/jquery-1.8.0.js"></script>
<script type="text/javascript" src="~/Scripts/ajax.js"></script>
<script type="text/javascript" src="~/js/moment/moment.min.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.validate.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script type="text/javascript">
    function ObterAcao(xId) {

        $.ajax({
            url: '/AcaoMarketing/PartialViewAtualizacao/' + xId,
            type: 'GET',
            dataType: 'html',
            cache: false,
            success: function (response) {
                $('#DivPartialViewAtualizacao').html(response);
            },
            failure: function (response) {
                alert("error!");
            },
            error: function (response) {
                alert("error!");
            }
        });
    }

</script>

<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header">Alterar Ações</h3>
    </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document" style="width:70%">
        <div class="modal-content">
            <div class="modal-body">
                <div id="DivPartialViewAtualizacao">
                    @{
                        Html.RenderPartial("PartialViewAtualizarAcao");
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel-body">
    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">

                @using (Ajax.BeginForm("ObterAcao", "AcaoMarketing", new AjaxOptions
                              {
                                  HttpMethod = "Post",
                                  UpdateTargetId = "dvResultado",
                              }, new { @id = "formID" }))
                {

                    <div class="row">
                        <div class="col-sm-12">
                            <label>REDE:</label>
                            @Html.DropDownListFor(x => x.AcaoMarketing.Parceiro.Rede, new SelectList((IEnumerable)ViewData["REDE"]), "SELECIONE", new { @id = "DDLRedeFiltro", @class = "form-control", style = "width: 60%" })
                            @Html.ValidationMessageFor(x => x.AcaoMarketing.Parceiro.Rede, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <label>MÊS DA AÇÃO:</label>
                            @Html.DropDownListFor(x => x.AcaoMarketing.MesAcao, new SelectList((IEnumerable)ViewData["MES"]), "SELECIONE", new { @id = "DDLMesAcaoFiltro", @class = "form-control", style = "width: 25%" })
                            @Html.ValidationMessageFor(x => x.AcaoMarketing.OrigemVerba, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <input id="btnConsultar" class="btn btn-primary" type="submit" style="width:150px" value="Consultar" />
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div id="dvResultado">
                @{
                    Html.RenderPartial("PartialViewAlterarBuscar");
                }
            </div>
        </div>
    </div>
</div>

