@using System.Collections
@model VivoMais.Models.AcaoMarketingViewModel
@{
    ViewBag.Title = "ConsultarSaldo";
    if (Session["TipoMenu"].ToString() != "")
    {
        Layout = Session["TipoMenu"].ToString();
    }
    else
    {
        Session.Clear();
        Session.Abandon();
        FormsAuthentication.SignOut();
        Response.Redirect("/Acesso/Index");
    }
}

@* Javascript *@
<script type="text/javascript" src="~/Scripts/jquery-1.8.0.js"></script>
<script type="text/javascript" src="~/Scripts/ajax.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.validate.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header">Consultar Saldo</h3>
    </div>
</div>
<div class="panel-body">
    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">

                @using (Ajax.BeginForm("ObterSaldo", "AcaoMarketing", new AjaxOptions
                              {
                                  HttpMethod = "Post",
                                  UpdateTargetId = "dvResultado"
                              }, new { @id = "formID" }))
                {

                    <div class="row">
                        <div class="col-sm-12">
                            <label>REDE:</label>
                            @Html.DropDownListFor(x => x.AcaoMarketing.Parceiro.Rede, new SelectList((IEnumerable)ViewData["REDE"]), "SELECIONE", new { @id = "DDLRede", @class = "form-control", style = "width: 60%" })
                            @Html.ValidationMessageFor(x => x.AcaoMarketing.Parceiro.Rede, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <label>ORIGEM DE VERBA:</label>
                            @Html.DropDownListFor(x => x.AcaoMarketing.OrigemVerba, new List<SelectListItem>
                                                   {
                                                       new SelectListItem{ Text="VERBA COOPERADA", Value="VERBA COOPERADA" },
                                                       new SelectListItem{ Text="VERBA DE INCENTIVO A OPEN", Value="VERBA DE INCENTIVO A OPEN" }
                                                   }, "SELECIONE"
                                                   , new { @id = "DDLOrigemVerba", @class = "form-control", style = "width: 25%" })
                            @Html.ValidationMessageFor(x => x.AcaoMarketing.OrigemVerba, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <input id="btnConsultar" class="btn btn-primary" style="width:150px" type="submit" value="Buscar" />
                        </div>
                    </div>

                }

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div id="dvResultado">
                @{
                    Html.RenderPartial("PartialViewConsultarSaldo");
                }
            </div>
        </div>
    </div>
</div>