
<!DOCTYPE html>
<html lang="en" id="Principal">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Vivo Mais+</title>

    <!-- Css -->
    <link href="~/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/build/css/custom.min.css" rel="stylesheet">
    <link href="~/Acesso/Css/style.css" rel="stylesheet">

    <!-- JavaScript -->
    <script type="text/javascript" src="~/Acesso/Js/jquery-2.2.1.js"></script>
    <script type="text/javascript" src="~/Acesso/Js/hammer.js"></script>
    <script type='text/javascript'>
        function abrePoupUp(src) {
            window.open(src);
        }

        $(document).ready(function (e) {
            Hammer(document.getElementById('Principal')).on('swiperight', function (e) {
                $('body').addClass('hover-pushed');
            });

            Hammer(document.getElementById('Principal')).on('swipeleft', function (e) {
                $('body').removeClass('hover-pushed');
            });
        });
    </script>
</head>

<body class="login">

    <div class="pushWrapper">

        <header class="pageHeader">
            <!-- Logo -->
            <a class="headerLogo" href="#">
                <i class=" step icon-window-1 size-26"></i>
                <span class="text">Vivo Mais+</span>
            </a>
        </header>

        <div id="slider" data-role="panel" class="sidebar">
            <nav class="mainMenu">
                <div class="row">
                    <div class="col-sm-4">
                        <a href="#" onclick="abrePoupUp('http://vivo360.vivo.com.br/vivo360/pages/crux/login/login.html')" title="Vivo 360"><img src="~/Imagens/360_G.png" style="margin-left:20%; width:50%;height:40%;"></a>
                    </div>
                    <div class="col-sm-4">
                        <a href="#" onclick="abrePoupUp('http://citrixcorp.vivo.com.br/Citrix/XenApp/auth/silentDetection.aspx')" title="Atlys"><img src="~/Imagens/altys_G.png" style="margin-left:20%; width:50%;height:50%;"></a>
                    </div>
                    <div class="col-sm-4">
                        <a href="#" onclick="abrePoupUp('https://gedoc.vivo.com.br/autenticacao/index')" title="Vivo GED"><img src="~/Imagens/vivo-ged_G.png" style="margin-left:20%; width:50%;height:50%;"></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <span class="text" style="margin-left:14%;width:28%;height:28%; font-size:14px">Vivo 360</span>
                    </div>
                    <div class="col-sm-4">
                        <span class="text" style="margin-left:21%; font-size:14px">Atlys</span>
                    </div>
                    <div class="col-sm-4">
                        <span class="text" style="margin-left:15%; font-size:14px">GED</span>
                    </div>
                </div>



                <div class="row" style="margin-top:50px">
                    <div class="col-sm-4">
                        <a href="#" onclick="abrePoupUp('http://ngincare-cat.vivo-sp.com.br:8001/CustomerCare/')" title="NGIN"><img src="~/Imagens/ngin_G.png" style="margin-left:20%; margin-top:15%; width:50%;height:50%;"></a>
                    </div>
                    <div class="col-sm-4">
                        <a href="#" onclick="abrePoupUp('http://gestaoservicosti.redecorp.br:7001/arsys/shared/login.jsp')" title="Remedy"><img src="~/Imagens/remedy_G.png" style="margin-left:20%; margin-top:15%; width:50%;height:50%;"></a>
                    </div>
                    <div class="col-sm-4">
                        <a href="#" onclick="abrePoupUp('http://portalsgr.redecorp.br/')" title="SRG"><img src="~/Imagens/sgr_G.png" style="margin-left:20%; margin-top:15%; width:50%;height:50%;"></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <span class="text" style="margin-left:26%;font-size:14px">NGIN</span>
                    </div>
                    <div class="col-sm-4">
                        <span class="text" style="margin-left:10%; font-size:14px">Remedy</span>
                    </div>
                    <div class="col-sm-4">
                        <span class="text" style="margin-left:28%; font-size:14px">SRG</span>
                    </div>
                </div>




                <div class="row" style="margin-top:50px">
                    <div class="col-sm-4">
                        <a href="#" onclick="abrePoupUp('http://seuportal.vivo.com.br/portal_unico_lojas/sistemas/GSS/Index-GSS.htm')" title="GSS"><img src="~/Imagens/gss_G.png" style="margin-left:20%; margin-top:15%; width:50%;height:50%;"><span class="text" style="margin-left:29%;font-size:14px">GSS</span></a>
                    </div>
                    <div class="col-sm-4">
                        <a href="#" onclick="abrePoupUp('http://extranet.vivo-ne.com.br/agentes/index.htm')" title="Extranet"><img src="~/Imagens/extranet_G.png" style="margin-left:20%; margin-top:15%; width:50%;height:50%;"><span class="text" style="margin-left:16%;font-size:14px">Extranet</span></a>
                    </div>
                    <div class="col-sm-4">
                        <a href="#" onclick="abrePoupUp('http://corp.vivo.com.br/sites/GN_G/canais/estrategico/Preditivo/Forms/AllItems.aspx')" title="Preditivo"><img src="~/Imagens/preditivo_G.png" style="margin-left:20%; margin-top:15%; width:50%;height:50%"><span class="text" style="margin-left:10%;font-size:14px">Preditivo</span></a>
                    </div>
                </div>

                <div class="row" style="margin-top:50px">
                    <div class="col-sm-4">
                        <a href="#" onclick="abrePoupUp('https://mtadm.vivo.com.br/mtokenadm/')" title="Token"><img src="~/Imagens/token_G.png" style="margin-left:20%; margin-top:15%; width:50%;height:50%;"><span class="text" style="margin-left:17%;font-size:14px">Token</span></a>
                    </div>
                    <div class="col-sm-4">
                        <a href="#" onclick="abrePoupUp('http://10.238.1.47:7010/MicroStrategy/servlet/mstrWeb')" title="Painel de Performance"><img src="~/Imagens/painel-de-performance_G.png" style="margin-left:20%; margin-top:15%; width:50%;height:50%;"><span class="text" style="margin-left:2%;font-size:14px">Performance</span></a>
                    </div>
                    <div class="col-sm-4">
                        <a href="#" onclick="abrePoupUp('http://extranet.vivo-ne.com.br/ExtranetNE/compras/login.asp')" title="Site de Compras"><img src="~/Imagens/site-de-compras_G.png" style="margin-left:20%; margin-top:15%; width:50%;height:50%;"><span class="text" style="margin-left:12%;font-size:14px">Compras</span></a>
                    </div>
                </div>

                <div class="row" style="margin-top:50px">
                    <div class="col-sm-4">
                        <a href="#" onclick="abrePoupUp('https://mtadm.vivo.com.br/mtokenadm/')" title="iCampus"><img src="~/Imagens/icampus_G.png" style="margin-left:20%; margin-top:15%; width:50%;height:50%;"><span class="text" style="margin-left:15%;font-size:14px">Icampus</span></a>
                    </div>
                    <div class="col-sm-4">
                        <a href="#" onclick="abrePoupUp('http://wisweb.tgestiona.com.br:8080/wisweb_sp/pages/logout.jsp')" title="Wis Web"><img src="~/Imagens/wis-web_G.png" style="margin-left:20%; margin-top:15%; width:50%;height:50%;"><span class="text" style="margin-left:18%;font-size:14px">Wis Web</span></a>
                    </div>
                    <div class="col-sm-4">
                        <a href="#" onclick="abrePoupUp('http://vivollpp.dashboard.bi/?action=login')" title="Sistema PEX"><img src="~/Imagens/sitema-pex_G.png" style="margin-left:20%; margin-top:15%; width:50%;height:50%;"><span class="text" style="margin-left:26%;font-size:14px">PEX</span></a>
                    </div>
                </div>

            </nav>
        </div>

        @RenderBody()

    </div>


    <script type='text/javascript' src="~/Acesso/Js/response.js"></script>
    <script type='text/javascript' src="~/Acesso/Js/swiper.js"></script>
    <script type='text/javascript' src="~/Acesso/Js/waypoints.js"></script>
    <script type='text/javascript' src="~/Acesso/Js/jquery.stellar.js"></script>


</body>
</html>